@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700&display=swap');
body {
	background-color: #3366ff;
	color: white;
	font-family: "Montserrat", sans-serif; 
h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	border: 3px solid black;
	background-color: pink;
	padding: 30px 0;
	margin: 60px;
	width: 300px;
	/*the code below will center elements#*/
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;

	}

h2 {
font-style: italic;
font-weight: normal;
font-size: 30px;
}

h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

img {
	width: 600px;
}